
<p>
  Books I've recently read include <span class="text-only" id="goodreads"></span>
</p>

<div class="hidden" id="gr_grid_widget_1431821457"></div>
<script src="https://www.goodreads.com/review/grid_widget/21579241.goodreads?cover_size=medium&amp;hide_link=true&amp;hide_title=true&amp;num_books=5&amp;order=d&amp;shelf=read&amp;sort=date_started&amp;widget_id=1431821457" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="/public/javascript/goodreads.js"></script>